@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
}

.intro {
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3.1rem;
  letter-spacing: 3.12px;
  text-transform: uppercase;
  color: #E65707;
}

.title {
  font-weight: bold;
  font-size: 4.9rem;
  line-height: 5.5rem;
  color: #E6E7E6;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
}

.section-title {
  font-size: 4.9rem;
  margin-bottom: 4rem;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.719433) 100%);
}
.section-title img {
  transform: translateY(2.7px);
}

._has-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

._centered {
  text-align: center;
}

.btn {
  background: linear-gradient(126.32deg, #FF8000 8.02%, #F90049 95.6%);
  border-radius: 6px;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.7rem;
  text-align: center;
  color: #FFFFFF;
  padding: 2.1rem 4.8rem;
  text-transform: none;
  height: auto;
  transition: 0.3s;
  box-shadow: none;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: none;
}
.btn._mini {
  padding: 1.5rem 4rem;
  font-size: 1.7rem;
}
.btn._bordered {
  border: 1.5px solid #FFFFFF;
}
.btn._transparent {
  background: transparent;
}
.btn._has-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tooltip-wrapper {
  text-align: right;
}
.tooltip-wrapper .tooltip {
  display: inline-flex;
  gap: 2.4rem;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.7);
  mix-blend-mode: normal;
  border-radius: 49px;
}
.tooltip-wrapper .tooltip__social {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.tooltip-wrapper .tooltip__title {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.9rem;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.cards-flexible {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.cards-flexible__el {
  width: calc(33.333333% - 2.66666rem);
}
.cards-flexible__el__img {
  height: 18.5rem;
  width: 100%;
  display: block;
}
.cards-flexible__el__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.cards-flexible__el__title {
  display: inline-block;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.5rem;
  color: #E6E7E6;
  max-height: 17.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-flexible__el:nth-child(1) {
  width: 100%;
  position: relative;
}
.cards-flexible__el:nth-child(1) .cards-flexible__el__img {
  height: 51.8rem;
}
.cards-flexible__el:nth-child(1) .cards-flexible__el__title {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
  z-index: 1;
}
.cards-flexible__el:nth-child(1):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 51.8rem;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 62.45%, rgba(0, 0, 0, 0.895405) 100%);
  border-radius: 0px 0px 4px 4px;
}

.cards-flexible-double {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.cards-flexible-double__el {
  width: calc(33.333333% - 2.66666rem);
}
.cards-flexible-double__el__img {
  height: 18.5rem;
  width: 100%;
  display: block;
}
.cards-flexible-double__el__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.cards-flexible-double__el__title {
  display: inline-block;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.5rem;
  color: #E6E7E6;
  max-height: 17.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-flexible-double__el:nth-child(1), .cards-flexible-double__el:nth-child(2) {
  width: calc(50% - 2rem);
  position: relative;
}
.cards-flexible-double__el:nth-child(1) .cards-flexible-double__el__img, .cards-flexible-double__el:nth-child(2) .cards-flexible-double__el__img {
  height: 33rem;
}
.cards-flexible-double__el:nth-child(1) .cards-flexible-double__el__title, .cards-flexible-double__el:nth-child(2) .cards-flexible-double__el__title {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
  z-index: 1;
}
.cards-flexible-double__el:nth-child(1):after, .cards-flexible-double__el:nth-child(2):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33rem;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 62.45%, rgba(0, 0, 0, 0.895405) 100%);
  border-radius: 0px 0px 4px 4px;
}

.cards-flexible-mixed {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.cards-flexible-mixed__el {
  width: calc(33.333333% - 2.66666rem);
}
.cards-flexible-mixed__el__img {
  height: 18.5rem;
  width: 100%;
  display: block;
}
.cards-flexible-mixed__el__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.cards-flexible-mixed__el__title {
  display: inline-block;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.5rem;
  color: #E6E7E6;
  max-height: 17.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-flexible-mixed__el:nth-child(1) {
  width: calc(66.66666% - 1.33333rem);
  position: relative;
  height: 100%;
}
.cards-flexible-mixed__el:nth-child(1) .cards-flexible-mixed__el__img {
  height: 33rem;
}
.cards-flexible-mixed__el:nth-child(1) .cards-flexible-mixed__el__title {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
  z-index: 1;
}
.cards-flexible-mixed__el:nth-child(1):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33rem;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 62.45%, rgba(0, 0, 0, 0.895405) 100%);
  border-radius: 0px 0px 4px 4px;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 28rem;
}
.sidebar .container {
  text-align: right;
  padding-right: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}
.sidebar .container .sidebar-group {
  display: inline-block;
  max-width: 28rem;
  width: 100%;
  text-align: left;
}
.sidebar .container .sidebar-group__title {
  font-size: 3.4rem;
}
.sidebar .container .sidebar-group__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.sidebar .container .sidebar-group__wrapper__el__img {
  height: 18.5rem;
}
.sidebar .container .sidebar-group__wrapper__el__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar .container .sidebar-group__wrapper__el__title {
  display: inline-block;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.5rem;
  color: #E6E7E6;
  max-height: 17.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .container .sidebar-group__wrapper__el__time {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #E6E7E6;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.sidebar .container .sidebar-promo {
  margin: 6rem 0;
  max-width: 28rem;
  width: 100%;
}
.sidebar .container .sidebar-promo img {
  width: 100%;
}

header {
  background: #000000;
  padding: 3.5rem 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
header .header__item {
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
header .header__item svg,
header .header__item path {
  transition: 0.3s;
}
header .header__item:hover {
  color: #E65707;
}
header .header__item:hover svg,
header .header__item:hover path {
  fill: #E65707;
}
header .header__item .icon {
  margin-left: 5px;
}
header .header__item .switch label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
header .header__item .switch label .lever {
  background-color: rgba(255, 255, 255, 0.26) !important;
  width: 48px;
  height: 25px;
}
header .header__item .switch label .lever:after {
  background-color: #ffffff !important;
  left: 3px;
  top: 3px;
}
header .header__item .switch label .lever:before {
  background-color: transparent !important;
  width: 19px;
  height: 19px;
  left: 3px;
  top: 3px;
}
header .header__item .switch label input[type=checkbox]:checked + .lever:before {
  left: 26px;
}
header .header__item .switch label input[type=checkbox]:checked + .lever:after {
  left: 26px;
}

.section-main {
  padding-top: 4rem;
  padding-bottom: 1.1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-main.png) 50% 50% no-repeat;
  background-size: cover;
}
.section-main .intro {
  margin-top: 35rem;
}
.section-main .title {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.section-technologies {
  padding-top: 20rem;
  padding-bottom: 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-technologies.png) 50% 50% no-repeat;
  background-size: cover;
  background-color: #000;
}
.section-technologies .section-title {
  margin-bottom: 4rem;
}

.section-has-sidebar {
  position: relative;
  z-index: 1;
}
.section-has-sidebar .container {
  position: relative;
  padding-right: 40rem;
}

.section-around-the-world {
  z-index: 0;
  padding-top: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-around-the-world.png) 50% 50% no-repeat;
  background-size: cover;
  background-color: #000;
}
.section-around-the-world .section-title {
  margin-bottom: 4rem;
}
.section-around-the-world .container {
  position: relative;
  z-index: 10;
}
.section-around-the-world .world-banner {
  margin-bottom: 15rem;
  background: linear-gradient(126.32deg, #FF8000 8.02%, #F90049 95.6%);
  border-radius: 6px;
  padding: 4rem;
  padding-right: 7rem;
  display: flex;
  justify-content: space-between;
}
.section-around-the-world .world-banner__text__title {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #FFFFFF;
}
.section-around-the-world .world-banner__text__intro {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.68;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.section-ecology {
  z-index: 0;
  padding-top: 15rem;
  padding-bottom: 15rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-ecology.png) 50% 50% no-repeat;
  background-size: cover;
  background-color: #000;
}

.section-progress {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-progress.png) 50% 50% no-repeat;
  background-size: cover;
  background-color: #0C111A;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
}
.section-progress .progress-slider {
  margin-top: 6rem;
}
.section-progress .progress-slider .swiper-slide {
  overflow: hidden;
}
.section-progress .progress-slider .swiper-slide .progress__img {
  width: 28rem;
  height: 28rem;
  border: 3px solid transparent;
  padding: 5px;
  border-radius: 50%;
  position: relative;
}
.section-progress .progress-slider .swiper-slide .progress__img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -3px;
  border-radius: inherit;
  background: #ff8000;
  background: linear-gradient(90deg, #ff8000 0%, #f90049 100%, #00d4ff 100%);
}
.section-progress .progress-slider .swiper-slide .progress__img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0px;
  border-radius: inherit;
  background: #1a193b;
}
.section-progress .progress-slider .swiper-slide .progress__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.section-progress .progress-slider .swiper-slide .progress__title {
  max-width: 30rem;
  overflow: hidden;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3rem;
  color: #E6E7E6;
}
.section-progress .container {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 15rem;
}
.section-progress .container:before, .section-progress .container:after {
  content: "";
  position: absolute;
  width: calc((100vw - 100%) / 2);
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-progress.png) 100% 50% no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  right: calc((100vw - 100%) / -2);
  z-index: 2;
}
.section-progress .container:after {
  right: auto;
  left: calc((100vw - 100%) / -2);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-progress.png) 0% 50% no-repeat;
}
.section-progress .progress-button-next,
.section-progress .progress-button-prev {
  position: absolute;
  top: calc(50% - 30px);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 22px;
  background: #FFFFFF;
  border-radius: 8px 0px 0px 8px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.section-progress .progress-button-next.swiper-button-disabled,
.section-progress .progress-button-prev.swiper-button-disabled {
  opacity: 0;
}
.section-progress .progress-button-prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}

.section-articic {
  padding-top: 12rem;
  padding-bottom: 15rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-arctic.png) 50% 50% no-repeat;
  background-size: cover;
}
.section-articic .section-title {
  margin-bottom: 4.8rem;
}

.section-specprojects {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-spec.png) 50% 50% no-repeat;
  background-size: cover;
  background-color: #000000;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
}
.section-specprojects .section-title {
  margin-bottom: 3.4rem;
}
.section-specprojects .container {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.section-specprojects .container:before, .section-specprojects .container:after {
  content: "";
  position: absolute;
  width: calc((100vw - 100%) / 2);
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-spec.png) 100% 50% no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  right: calc((100vw - 100%) / -2);
  z-index: 2;
}
.section-specprojects .container:after {
  right: auto;
  left: calc((100vw - 100%) / -2);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-spec.png) 0% 50% no-repeat;
}
.section-specprojects .specprojects-button-next,
.section-specprojects .specprojects-button-prev {
  position: absolute;
  top: calc(50% - 30px);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 22px;
  background: #FFFFFF;
  border-radius: 8px 0px 0px 8px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.section-specprojects .specprojects-button-next.swiper-button-disabled,
.section-specprojects .specprojects-button-prev.swiper-button-disabled {
  opacity: 0;
}
.section-specprojects .specprojects-button-prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.section-specprojects .specprojects-pagination {
  bottom: 8rem !important;
}
.section-specprojects .specprojects-pagination span {
  width: 12px !important;
  height: 12px !important;
  background: #FFFFFF;
  opacity: 0.29;
  margin: 0 5px !important;
}
.section-specprojects .specprojects-pagination span.swiper-pagination-bullet-active {
  opacity: 1;
}

.section-next {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-next.png) 50% 50% no-repeat;
  background-size: cover;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
}
.section-next .section-title {
  margin-bottom: 4.8rem;
}
.section-next .next__intro {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.5rem;
  color: #E6E7E6;
  max-width: 66rem;
}
.section-next .next__info {
  font-weight: 600;
  font-size: 1.9rem;
  max-width: 66rem;
  line-height: 2.5rem;
  color: #E6E7E6;
  opacity: 0.7;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.section-next .next-slider__title {
  margin-top: 15rem;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}
.section-next .next-button-next,
.section-next .next-button-prev {
  position: absolute;
  bottom: 23rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 22px;
  background: #FFFFFF;
  border-radius: 8px 0px 0px 8px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.section-next .next-button-next.swiper-button-disabled,
.section-next .next-button-prev.swiper-button-disabled {
  opacity: 0;
}
.section-next .next-button-prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.section-next .container {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.section-next .container:before, .section-next .container:after {
  content: "";
  position: absolute;
  width: calc((100vw - 100%) / 2);
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-next.png) 100% 50% no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  right: calc((100vw - 100%) / -2);
  z-index: 2;
}
.section-next .container:after {
  right: auto;
  left: calc((100vw - 100%) / -2);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-next.png) 0% 50% no-repeat;
}

.section-articles {
  padding-top: 12rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-article.png) 50% 50% no-repeat;
  background-size: cover;
  background-color: #000;
}
.section-articles .section-title {
  margin-bottom: 1.5rem;
  display: block;
  max-width: 600px;
  margin: 0 auto;
}
.section-articles .section-intro {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.5rem;
  text-align: center;
  color: #E6E7E6;
  opacity: 0.7;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.section-articles .articles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;
}
.section-articles .articles-bottom {
  padding: 4rem 0;
  background: #00000034;
  mix-blend-mode: normal;
  border-radius: 12px;
}
.section-articles .articles-bottom .container {
  display: flex;
  justify-content: space-between;
}
.section-articles .articles-bottom .container .articles-bottom__text {
  width: calc(35% - 35px);
  margin-right: 35px;
  font-size: 21px;
  line-height: 25px;
  color: #E6E7E6;
  font-weight: 500;
}
.section-articles .articles-bottom .container .articles-bottom__text strong {
  font-weight: 700;
}
.section-articles .articles-bottom .container .articles-bottom__input {
  width: calc(40% - 20px);
  margin-right: 20px;
}
.section-articles .articles-bottom .container .articles-bottom__input input {
  border: 0 !important;
  max-height: 7rem;
  height: 100%;
  padding: 2.5rem 2rem;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  mix-blend-mode: normal;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
}
.section-articles .articles-bottom .container .articles-bottom__input input::placeholder {
  color: #e6e7e648;
}
.section-articles .articles-bottom .container .articles-bottom__input input:focus {
  border: 0 !important;
}
.section-articles .articles-bottom .container .articles-bottom__input .text {
  font-size: 1.5rem;
  color: #E6E7E6;
  opacity: 0.7;
  margin-top: 1.1rem;
}
.section-articles .articles-bottom .container .btn {
  width: 25%;
  max-height: 7rem;
}

footer {
  padding-top: 9rem;
  background: #000;
}
footer .section-title {
  display: block;
  text-align: center;
}
footer .social {
  margin-top: 6rem;
  display: flex;
  gap: 4rem;
}
footer .social__el {
  width: calc(25% - 3rem);
  padding: 3.4rem;
  padding-bottom: 6.5rem;
  background: linear-gradient(158.44deg, #333333 3.04%, #1A1A1A 85.84%);
  border-radius: 4px;
  text-align: center;
}
footer .social__el svg, footer .social__el path {
  width: 36px;
  height: 36px;
  fill: #fff;
}
footer .social__el:nth-child(2), footer .social__el:nth-child(4) {
  fill: #E65707;
}
footer .social__el__title {
  margin-top: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
footer .social__el__info {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #E6E7E6;
  opacity: 0.75;
}
footer .footer__bottom {
  margin-top: 9rem;
  border-top: 1px solid #66646293;
  padding-top: 7rem;
}
footer .footer__bottom__logo {
  width: 33rem;
}
footer .footer__bottom .container {
  display: flex;
  justify-content: space-between;
}
footer .footer__bottom .footer__menu {
  display: flex;
  justify-content: space-between;
  gap: 11.4rem;
}
footer .footer__bottom .footer__menu .footer__menu__keys__title {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.8125px;
  color: #9E9C9A;
}
footer .footer__bottom .footer__menu .footer__menu__keys__item {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.8125px;
  color: #fff;
}
footer .footer__copy {
  margin-top: 1rem;
  padding-bottom: 2rem;
}
footer .footer__copy .footer__copy__els {
  display: flex;
  gap: 2rem;
}
footer .footer__copy .footer__copy__el {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 1.5rem;
}

/*# sourceMappingURL=app.css.map */
